POSTGRES_DB=vibe_research
POSTGRES_USER=vibe_user
POSTGRES_PASSWORD=GENERATED_LOCALLY
REDIS_PASSWORD=GENERATED_LOCALLY
VR_DATABASE_URL=postgresql+psycopg://vibe_user:GENERATED_LOCALLY@postgres:5432/vibe_research
VR_REDIS_URL=redis://:GENERATED_LOCALLY@redis:6379/0
TEAJOIN_API_KEY=ENTER_LOCALLY
VR_SESSION_SECRET=GENERATED_LOCALLY
VR_CREDENTIAL_ENCRYPTION_KEY=GENERATED_LOCALLY
VR_CREDENTIAL_ENCRYPTION_KEY_PREVIOUS=
VR_ALLOW_ORIGINS=http://127.0.0.1:5900
VR_DEPLOYMENT_MODE=local
VR_COOKIE_SECURE=false
VR_AI_ALLOWED_HOSTS=api.stepfun.com
VR_REPORTS_DIR=/data/reports
VR_REPORT_SCAN_COMMAND=clamdscan --config-file=/etc/clamav/clamd.remote.conf --stream --no-summary {path}
VR_AI_STEPFUN_BASE_URL=https://api.stepfun.com/step_plan/v1
VR_AI_STEPFUN_MODEL=step-3.7-flash
VR_AI_STEPFUN_API_KEY=ENTER_LOCALLY
